{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content1 %}
<h2>센서 제어</h2> <p>{{ username }}, {{userip}}, {{logintime}} 접속</p>
{% endblock %}
{% block content2 %}
  <p>명령어 제어</p><br>
  <label><input type="checkbox" name="no1" value="0"> 0차 센서</label>
  <label><input type="checkbox" name="no2" value="1"> 1차 센서</label>
  <label><input type="checkbox" name="no3" value="2"> 2차 센서</label>
  <label><input type="checkbox" name="no4" value="3"> 3차 센서</label>
  <label><input type="checkbox" name="no5" value="4"> 4차 센서</label>
  <label><input type="text" name="cycle_time" value="10" size="5" maxlength="5"> 간격(분)</label><br>
  <table><tr>
  <td><label><input type="radio" name="cmd_check" value="1" checked> 자동 수집 동작</label></td>
  <td><label><input type="text" name="repeat_value" value="0" size="5" maxlength="5"> 반복회수</label></td>
  </tr><tr>
  <td><label><input type="radio" name="cmd_check" value="2"> 미 수신 데이터 받기</label></td><td>1회 적용</td>
  </tr><tr>
  <td><label><input type="radio" name="cmd_check" value="3"> 수동 배기 펌프 동작</label></td><td>1회 적용</td>
  </tr><tr>
  <td><label><input type="radio" name="cmd_check" value="4"> 수동 흡기 펌프 동작</label></td><td>1회 적용</td>
  </tr></table><br>
{% endblock %}
{% block content3 %}
  <p>펌프 동작 시간 제어</p><br>
  <label><input type="checkbox" name="no1" value="0"> 0차 센서</label>
  <label><input type="checkbox" name="no2" value="1"> 1차 센서</label>
  <label><input type="checkbox" name="no3" value="2"> 2차 센서</label>
  <label><input type="checkbox" name="no4" value="3"> 3차 센서</label>
  <label><input type="checkbox" name="no5" value="4"> 4차 센서</label>
  <!-- <label><input type="text" name="running_time" value="10" size="5" maxlength="5"> 단위(초)</label><br> -->
  <table><tr>
  <td><label><input type="text" name="running_time1" value="10" size="5" maxlength="5"> 흡입 펌프 동작 시간 </label></td><td>흡입 초단위</td>
  </tr><tr>
  <td><label><input type="text" name="running_time2" value="10" size="5" maxlength="5"> 교정 시간</label></td><td>교정 초단위</td>
  </tr><tr>
  <td><label><input type="text" name="running_time3" value="10" size="5" maxlength="5"> 배기 폄프 동작 시간</label></td><td>배기 초단위</td>
  </tr></table><br>
{% endblock %}
{% block content5 %}
  <p>보정 값 환경 설정 부분</p><br>
  <label><input type="checkbox" name="no1" value="0"> 0차 센서</label>
  <label><input type="checkbox" name="no2" value="1"> 1차 센서</label>
  <label><input type="checkbox" name="no3" value="2"> 2차 센서</label>
  <label><input type="checkbox" name="no4" value="3"> 3차 센서</label>
  <label><input type="checkbox" name="no5" value="4"> 4차 센서</label><br><br>
  <table>
	<th><label><label>H2  센서</label></th>
	<th><label><label>H2S 센서</label></th>
	<th><label><label>NH3 센서</label></th>
	<th><label><label>TOL 센서</label></th>
	<tr>
	<td><label><input type="text" name="Mq135Value" size="10" maxlength="10" value={{ro1}}></label></td>
	<td><label><input type="text" name="Mq136Value" size="10" maxlength="10" value={{ro2}}> </label></td>
	<td><label><input type="text" name="Mq137Value" size="10" maxlength="10" value={{ro3}}> </label></td>
	<td><label><input type="text" name="Mq138Value" size="10" maxlength="10" value={{ro4}}> </label></td>
	<!--
	<td><label><input type="text" name="Mq135Value" size="10" maxlength="10" value="+10.041"></label></td>
	<td><label><input type="text" name="Mq136Value" size="10" maxlength="10" value="+16.786"> </label></td>
	<td><label><input type="text" name="Mq137Value" size="10" maxlength="10" value="+33.048"> </label></td>
	<td><label><input type="text" name="Mq138Value" size="10" maxlength="10" value="+33.048"> </label></td>
	-->
	</tr></table>
	<label><h3>입력 23.011(소숫점 3자리) 주의!! 반드시 시스템을 재시작 해야 적용</h3></label><br>
{% endblock %}
{% block content6 %}
	<p>X,Y절편 및 기울기 값 환경 설정 부분</p><br>
	<label><input type="checkbox" name="no1" value="0"> 0차 센서</label>
	<label><input type="checkbox" name="no2" value="1"> 1차 센서</label>
	<label><input type="checkbox" name="no3" value="2"> 2차 센서</label>
	<label><input type="checkbox" name="no4" value="3"> 3차 센서</label>
	<label><input type="checkbox" name="no5" value="4"> 4차 센서</label><br><br>
	<table><tr>
	<td align="right"><label>H2 센서</label></td>
	<td><label><input type="text" name="Mq135Value0" size="20" maxlength="20" value={{s0}}></label></td>
	<td><label><input type="text" name="Mq135Value1" size="20" maxlength="20" value={{s1}}></label></td>
	<td><label><input type="text" name="Mq135Value2" size="20" maxlength="20" value={{s2}}></label></td>
	<td><label><input type="text" name="Mq135Value3" size="20" maxlength="20" value={{s3}}></label></td>
	
	<!--
	<td><label><input type="text" name="Mq135Value0" size="20" maxlength="20" value="+00.999,-00.235,-00.472"></label></td>
	<td><label><input type="text" name="Mq135Value1" size="20" maxlength="20" value="+02.000,-00.707,-00.515"></label></td>
	<td><label><input type="text" name="Mq135Value2" size="20" maxlength="20" value="+02.305,-00.865,-00.504"></label></td>
	<td><label><input type="text" name="Mq135Value3" size="20" maxlength="20" value="+2.703,-01.065,-00.475"></label></td>
	-->
	</tr><tr>
	<td align="right"><label>H2S센서</label></td>
	<td><label><input type="text" name="Mq136Value0" size="20" maxlength="20" value={{y0}}></label></td>
	<td><label><input type="text" name="Mq136Value1" size="20" maxlength="20" value={{y1}}></label></td>
	<td><label><input type="text" name="Mq136Value2" size="20" maxlength="20" value={{y2}}></label></td>
	<td><label><input type="text" name="Mq136Value3" size="20" maxlength="20" value={{y3}}></label></td>
	<!-- 
	<td><label><input type="text" name="Mq136Value0" size="20" maxlength="20" value="+00.005,-00.241,-00.254"></label></td>
	<td><label><input type="text" name="Mq136Value1" size="20" maxlength="20" value="+01.013,-00.497,-00.269"></label></td>
	<td><label><input type="text" name="Mq136Value2" size="20" maxlength="20" value="+01.609,-00.656,-00.261"></label></td>
	<td><label><input type="text" name="Mq136Value3" size="20" maxlength="20" value="+01.976,-00.754,-00.272"></label></td>
	-->
	</tr><tr>
	<td align="right"><label>NH3센서</label></td>
	<td><label><input type="text" name="Mq137Value0" size="20" maxlength="20" value={{u0}}></label></td>
	<td><label><input type="text" name="Mq137Value1" size="20" maxlength="20" value={{u1}}></label></td>
	<td><label><input type="text" name="Mq137Value2" size="20" maxlength="20" value={{u2}}></label></td>
	<td><label><input type="text" name="Mq137Value3" size="20" maxlength="20" value={{u3}}></label></td>
	<!-- 
	<td><label><input type="text" name="Mq137Value0" size="20" maxlength="20" value="+00.003,-00.240,-00.262"></label></td>
	<td><label><input type="text" name="Mq137Value1" size="20" maxlength="20" value="+00.991,-00.499,-00.259"></label></td>
	<td><label><input type="text" name="Mq137Value2" size="20" maxlength="20" value="+01.666,-00.673,-00.274"></label></td>
	<td><label><input type="text" name="Mq137Value3" size="20" maxlength="20" value="+02.022,-00.771,-00.263"></label></td>
	-->
	</tr><tr>
	<td align="right"><label>TOL센서</label></td>
	<td><label><input type="text" name="Mq138Value0" size="20" maxlength="20" value={{z0}}></label></td>
	<td><label><input type="text" name="Mq138Value1" size="20" maxlength="20" value={{z1}}></label></td>
	<td><label><input type="text" name="Mq138Value2" size="20" maxlength="20" value={{z2}}></label></td>
	<td><label><input type="text" name="Mq138Value3" size="20" maxlength="20" value={{z3}}></label></td>
	<!-- 
	<td><label><input type="text" name="Mq138Value0" size="20" maxlength="20" value="+01.001,-00.287,-00.407"></label></td>
	<td><label><input type="text" name="Mq138Value1" size="20" maxlength="20" value="+01.689,-00.567,-00.538"></label></td>
	<td><label><input type="text" name="Mq138Value2" size="20" maxlength="20" value="+02.011,-00.740,-00.474"></label></td>
	<td><label><input type="text" name="Mq138Value3" size="20" maxlength="20" value="+02.287,-00.871,-00.421"></label></td>
	-->
	</tr></table>
	<label><h3> 각 칸에 3개의 값 기록 2.011, 3.001, -0.234(소숫점 3자리 까지) 주의!! 반드시 시스템을 재시작 해야 적용</h3></label><br>
{% endblock %}

{% block content8 %}
  <p>센서장치 재시작 설정</p><br>
  <label><input type="checkbox" name="no1" value="0"> 0차 센서</label>
  <label><input type="checkbox" name="no2" value="1"> 1차 센서</label>
  <label><input type="checkbox" name="no3" value="2"> 2차 센서</label>
  <label><input type="checkbox" name="no4" value="3"> 3차 센서</label>
  <label><input type="checkbox" name="no5" value="4"> 4차 센서</label><br><br>
  <label><h3>RO 및 X절편, Y절편 그리고 Scope 값 변경시엔 반드시 센서장치를 재시작해야 적용됩니다.</h3></label><br>
{% endblock %}
{% block content7 %}
<p>메세지</p>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <h5>{{messages}} </h5>
	{% else %}
		<h5>{{msg}} </h5>
    {% endif %}
{% endwith %}
<br><h5>{{sendata}} </h5>
{% endblock %}

