<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://kit.fontawesome.com/8f4175e4b8.js" crossorigin="anonymous"></script>
		<style>
        td, th {
            padding: 0.1em 1em;
        }
    </style>
	</head>
	<body class="loggedin">
	<script type="text/javaScript">
		function sensorStop(){  location.href = "{{url_for('sensor_stop') }}";  } 
	</script>
		<nav class="navtop">
			<div>
				<h1>다항목 악취 모니터링 시스템</h1>
				<a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="http://{{ myip_addr }}:3000/d/-3DAa8Ink/inod20210916?orgId=1&from=now-7d&to=now" target="_blank"><i class="fas fa-toolbox"></i>SensorDisplay</a>
				<a href="http://{{ myip_addr }}/phpMyAdmin/" target="_blank"><i class="fas fa-toolbox"></i>DBMS</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<!--명령어 제어 부분 -->
		<div  class="content">
			<!--센서 제어 사용장보 로그 부분 -->
			<div class="content3">
				{% block content1 %}{% endblock %}
			</div>
			<hr class="horizons">
			<!-- 결과 로그 출력 -->
			<div class="content">
					{% block content7 %}{% endblock %}
			</div>
			<!-- 센서 자동, 수동, 흡기, 배기 명령어 제어 -->
			<div class="content">
				<form method="post" action="{{ url_for('sensor_control') }}">
					{% block content2 %}{% endblock %}
					<input type="submit" value="제어 적용">
					<button type="button" onclick="sensorStop();" style="background-color:red; border-color:blue; color:white">센서중지</a>
				</form>
			</div>
			
			<!-- 센서 구동 흡입, 펜틸트, 배기 시간 설정 부분 -->
			<hr class="horizons">
			<div class="content">
				<form method="post" action="{{ url_for('pump_in_out_time_conf') }}">
					{% block content3 %}{% endblock %}
				<input type="submit" value="설정 적용">
				</form>
			</div>
			
			<!-- 보정 값 환경 설정 -->
			<hr class="horizons">
			<div class="content">
				<form method="post" action="{{ url_for('sensor_ro_control') }}">
					{% block content5 %}{% endblock %}
				<input type="submit" value="설정 적용">
				</form>
			</div>
			
			<!-- X,Y절편 및 기울기 값 환경 설정 부분 -->
			<div class="content">
				<form method="post" action="{{ url_for('sensor_scope_control') }}">
					{% block content6 %}{% endblock %}
				<input type="submit" value="설정 적용">
				</form>
			</div>
			
			<!-- 센서장치 재시작 설정 -->
			<div class="content">
				<form method="post" action="{{ url_for('reset_sensor') }}">
					{% block content8 %}{% endblock %}
				<input type="submit" value="센서 재시작">
				</form>
			</div>
		</div>
	</body>
</html>
